@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');


html{
    box-sizing:border-box;  
}

*,
*::before,
*::after{
    /* box-sizing: inherit; 
    outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
} 
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    margin-top: 30px;
}
.logo{
    color: #95E1D3;
    font-size: 30px;
    font-family: 'Montserrat', bold;
    
}
.menu{
    font-size: 14px;
    color: #95E1D3;
    

}
.menu_nav  {
        display: flex;
        width: 620px;
         
           
}

.list {
    margin-right: 100px;
    text-decoration: none;
    color: #95E1D3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

    


}
.list:hover {
    color: red;
    border-bottom: 2px solid red;
}
li {
    list-style-type: none;

}
.title_wrapper{
    text-align: center;

}
.list-1{
    text-decoration: none;
    color: #95E1D3;
    font-size: 14px;
}
.work {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}
h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
h2:after {
    content: "";
    width: 60px;
    height: 2px;
    border:solid 2px;
    margin:40px auto;
    color:#F48B8B;
    display: block;
    background-color:#F48B8B;
    margin-bottom: 65px;
}
.content-1{
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.content_list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
}
.text {
    
    width: 950px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    color:#999999;
    font-family: 'Roboto', sans-serif;
}
.images {
    display: flex;
    justify-content: space-between;

}
.images_content {
    height: 35px;
}
.box-1 {
    text-align: left;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    color: black;
}
.info_team {
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   color:  #333333;
   margin-top: 25px;
}
.info_team p {
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-style: italic;
color: #999999;
padding: 20px;
}
.list-1:hover {
    color: red;
}
.text_content {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
}
.text_content p {
    margin-bottom: 20px;
}

.innerBox {
    position: relative;
}

.boxIcon {
    background-color: rgba(243,159,141, 0.404);
    background-image:  linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    position: absolute;
    top:0;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.images_item:hover .boxIcon {
    opacity: 1;
}

.images_item:hover .innerBox {
    transform: translate(-20px, -20px);
    box-shadow: 20px 20px;
    color:#95E1D3;
}
.button {
    display: flex;

}
.box-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.box-icon:hover {
    background-color: #FCE38A;

}
.page_futter {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
span {
    color: red;
}
input {
    width: 220px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
button {
width: 150px;
height: 42px;
font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #95E1D3;
    border: 0;
    color: white;
    margin-right: 60px;

}

