@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


html{
    box-sizing:border-box;  
}

*,
*::before,
*::after{
    /* box-sizing: inherit; 
    outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 100px;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
} 
.header  {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
    margin-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
}
.backgraunt {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% ), url(images/eagle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    margin-bottom: 50px;
   
}
.header_title {
    text-align: center;
    padding-top: 180px;
    padding-bottom: 60px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: white;
    
    
}
.header_subtitle{
    text-align: center;
    font-family: 'Montserrat', bold;
    font-weight: 700;
    font-size: 150px;
    color: white;
    
}
.header_button {
    display: block;
    margin: 0 auto;
    margin-top: 125px;
    width: 150px;
    height: 30px;
    background-color: #EFC988;
    border: 2px solid white;
    color: white;
    font-family: 'Montserrat', bold;
    font-size: 14px;
}
.logo{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', bold;
    
}
.menu{
    font-size: 14px;
    color: #95E1D3;
    

}
.menu_nav  {
        display: flex;
        justify-content: space-between;
        width: 620px;
         
           
}

.menu_item {
    text-decoration: none;
    color: #95E1D3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.menu_icon svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.menu_link:hover {
    border-bottom: 2px solid #FCE38A;
}
li {
    list-style-type: none;

}
.section_titles{
    text-align: center;

}
.menu_link{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.section_title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}
.section_subtitle {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.section_subtitle:after {
    content: "";
    width: 60px;
    height: 2px;
    border:solid 2px;
    margin:40px auto;
    color:#F48B8B;
    display: block;
    background-color:#F48B8B;
    margin-bottom: 65px;
}
.services_list {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    text-align: center;
}
.services_item {
    display: flex;
    width: 330px;
    justify-content: space-between;
}

.services_item svg {
    height: 35px;
    width: 60px;
    fill: #95e1d3;
}



.text {
    
    width: 950px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    color:#999999;
    font-family: 'Roboto', sans-serif;
}
.images {
    display: flex;
    justify-content: space-between;

}
.images_content {
    height: 35px;
}
.services_title {
    text-align: left;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    color: black;
}
.image_discr {
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
   color:  #333333;
   margin-top: 25px;
}
.image_discr p {
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-style: italic;
color: #999999;
padding: 20px;
}
.menu_link:hover {
    color:#FCE38A;
}
.text_content {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
}
.services_block {
    margin-bottom: 20px;
}

.innerBox {
    position: relative;
}

.boxIcon {
    background-color: rgba(243,159,141, 0.404);
    background-image:  linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );
    position: absolute;
    top:0;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.images_item:hover .boxIcon {
    opacity: 1;
}

.images_item:hover .innerBox {
    transform: translate(-20px, -20px);
    box-shadow: 20px 20px;
    color:#95E1D3;
}
.button {
    display: flex;

}
.box-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.box-icon:hover {
    background-color: #FCE38A;

}
.page_futter {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
span {
    color: red;
}
.input {
    width: 220px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.email {
width: 150px;
height: 42px;
font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #95E1D3;
    border: 0;
    color: white;
    margin-right: 60px;

}

