@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./fonts/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('./fonts/open-sans-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
  url('./fonts/open-sans-v15-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('./fonts/open-sans-v15-latin_cyrillic-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}



.title {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}




img {
   display: block;
   width: 100%;
   height: auto;
   object-fit: cover;
 }

.logo {
  font-size: 60px;
  color: aqua;
  font-weight: bold;
  text-decoration: none;
}

/*.header {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-flow: row wrap;*/
/*}*/

.header {
  align-items: center;
}


.navigation {
    align-items: center;
}

/*.navigation {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*flex-flow: row wrap;*/
  /*max-width: 500px;*/
  /*width: 100%;*/
/*}*/


.gallery {
  height: 1800px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
}

.gallery_item {
  width: 330px;
  height: 440px;
  margin-bottom: 30px;
  order: 2;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gallery_item img {
   /*visibility: hidden;*/
}


.gallery_item:hover img{
  transition: .2s ease-in-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.1) rotate(-7deg);
  cursor: pointer;
  opacity: 1;
  /*visibility: visible;*/
  /*animation: galleryItem 3s infinite;*/
}



.gallery_item:first-of-type {
  border: 5px solid green;
}

.gallery_item:nth-of-type(3) {
  border: 5px solid red;
  order: 1;
}


@keyframes galleryItem {

  0% {
    transform: scale(1.1);
  }

  25% {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.1) rotate(7deg);
    cursor: pointer;
  }

  50% {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  75% {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: scale(1.1) rotate(-7deg);
    cursor: pointer;
  }

  100% {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

}


input  {
  padding: 20px 10px;
  font-size:30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
  font-size: 30px;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .gallery_item {
    width: 240px;
    height: 360px;
  }
}
